https://www.kaggle.com/piterfm/beijing-2022-olympics

In [3]:
import pandas as pd
athletes = pd.read_csv("datasets/athletes.csv")
curling_results = pd.read_csv("datasets/curling_results.csv")
entries_discipline = pd.read_csv("datasets/entries_discipline.csv")
hockey_results = pd.read_csv("datasets/hockey_results.csv")
medals_total = pd.read_csv("datasets/medals_total.csv")
medals = pd.read_csv("datasets/medals.csv")

<h2>Athletes</h2>

In [4]:
athletes.head()

,name,short_name,gender,birth_date,birth_place,birth_country,country,country_code,discipline,discipline_code,residence_place,residence_country,height_m/ft,url
0,AALTO Antti,AALTO A,Male,1995-04-02,KITEE,Finland,Finland,FIN,Ski Jumping,SJP,KUOPIO,Finland,NaN,../../../en/results/ski-jumping/athlete-profil...
1,AALTONEN Miro,AALTONEN M,Male,1993-06-07,JOENSUU,Finland,Finland,FIN,Ice Hockey,IHO,PODOLSK,Russian Federation,1.80/5'10'',../../../en/results/ice-hockey/athlete-profile...
2,ABDELKADER Justin,ABDELKADER J,Male,1987-02-25,NaN,NaN,United States of America,USA,Ice Hockey,IHO,NaN,NaN,1.87/6'1'',../../../en/results/ice-hockey/athlete-profile...
3,ABDI Fayik,ABDI F,Male,1997-10-07,"SAN DIEGO, CA",United States of America,Saudi Arabia,KSA,Alpine Skiing,ALP,DHAHRAN,Saudi Arabia,NaN,../../../en/results/alpine-skiing/athlete-prof...
4,ABDUL-SABOOR Hakeem,ABDUL-SABOOR H,Male,1987-11-07,"EAST ORANGE, NJ",United States of America,United States of America,USA,Bobsleigh,BOB,"POWHATAN, VA",United States of America,NaN,../../../en/results/bobsleigh/athlete-profile-...

In [5]:
athletes.shape

(2892, 14)

Il dataset contiene le seguenti colonne:

In [6]:
athletes.columns.tolist()

['name',
 'short_name',
 'gender',
 'birth_date',
 'birth_place',
 'birth_country',
 'country',
 'country_code',
 'discipline',
 'discipline_code',
 'residence_place',
 'residence_country',
 'height_m/ft',
 'url']

Le seguenti colonne contengono valori <code>Nan</code>:

In [7]:
athletes.columns[athletes.isna().any()].tolist()

['birth_date',
 'birth_place',
 'birth_country',
 'discipline',
 'residence_place',
 'residence_country',
 'height_m/ft']

In [8]:
pd.concat(g for _, g in athletes.groupby("name") if len(g) > 1)

,name,short_name,gender,birth_date,birth_place,birth_country,country,country_code,discipline,discipline_code,residence_place,residence_country,height_m/ft,url
154,BENDIKA Baiba,BENDIKA B,Female,1991-06-27,CESIS,Latvia,Latvia,LAT,Biathlon,BTH,ROZULA,Latvia,NaN,../../../en/results/biathlon/athlete-profile-n...
155,BENDIKA Baiba,BENDIKA B,Female,1991-06-27,CESIS,Latvia,Latvia,LAT,Cross-Country Skiing,CCS,ROZULA,Latvia,NaN,../../../en/results/cross-country-skiing/athle...
1460,LEDECKA Ester,LEDECKA E,Female,1995-03-23,PRAGUE,Czech Republic,Czech Republic,CZE,Alpine Skiing,ALP,PRAGUE,Czech Republic,NaN,../../../en/results/alpine-skiing/athlete-prof...
1461,LEDECKA Ester,LEDECKA E,Female,1995-03-23,PRAGUE,Czech Republic,Czech Republic,CZE,Snowboard,SBD,PRAGUE,Czech Republic,NaN,../../../en/results/snowboard/athlete-profile-...
2856,ZHAO Jiawen,ZHAO J,Male,2001-01-16,HEILONGJIANG,People's Republic of China,People's Republic of China,CHN,Nordic Combined,NCB,NaN,People's Republic of China,NaN,../../../en/results/nordic-combined/athlete-pr...
2857,ZHAO Jiawen,ZHAO J,Male,2001-01-16,NaN,NaN,People's Republic of China,CHN,Ski Jumping,SJP,NaN,NaN,NaN,../../../en/results/ski-jumping/athlete-profil...

Nel dataset sono presenti più tuple con lo stesso nome dell'atleta. Questo perché un atleta può gareggiare in più discipline. La chiave della tuple è data dalla combinazione <code>name</code>+<code>discipline</code>.

In [9]:
pd.concat(g for _, g in athletes.groupby(["name","discipline"]) if len(g) > 1)

ValueError: No objects to concatenate

<h2>Entries Discipline</h2>

In [ ]:
entries_discipline

                   Discipline     F     M  Total
0               Alpine Skiing   150   157    307
1                    Biathlon   105   107    212
2                   Bobsleigh    46   117    163
3        Cross-Country Skiing   149   150    299
4                     Curling    59    55    114
5              Figure Skating    74    74    148
6            Freestyle Skiing   131   142    273
7                  Ice Hockey   230   300    530
8                        Luge    35    71    106
9             Nordic Combined     0    55     55
10  Short Track Speed Skating    54    58    112
11                   Skeleton    25    25     50
12                Ski Jumping    40    65    105
13                  Snowboard   115   119    234
14              Speed Skating    79    87    166
15                      Total  1292  1582   2874

Il dataset contiene le seguenti colonne:

In [ ]:
entries_discipline.columns.tolist()

['Discipline', 'F', 'M', 'Total']

Non ci sono valori <code>Nan</code>:

In [ ]:
entries_discipline.columns[entries_discipline.isna().any()].tolist()

[]

<h2>Medals</h2>

In [ ]:
medals.head()

,medal_type,medal_code,medal_date,athlete_short_name,athlete_name,athlete_sex,athlete_link,event,country,country_code,discipline,discipline_code
0,Gold,1,2022-02-05 00:00:00.0,ECKHOFF T,ECKHOFF Tiril,X,../../../en/results/biathlon/athlete-profile-n...,Mixed Relay 4x6km (W+M),Norway,NOR,Biathlon,BTH
1,Gold,1,2022-02-05 00:00:00.0,ROEISELAND MO,ROEISELAND Marte Olsbu,X,../../../en/results/biathlon/athlete-profile-n...,Mixed Relay 4x6km (W+M),Norway,NOR,Biathlon,BTH
2,Gold,1,2022-02-05 00:00:00.0,BOE T,BOE Tarjei,X,../../../en/results/biathlon/athlete-profile-n...,Mixed Relay 4x6km (W+M),Norway,NOR,Biathlon,BTH
3,Gold,1,2022-02-05 00:00:00.0,BOE JT,BOE Johannes Thingnes,X,../../../en/results/biathlon/athlete-profile-n...,Mixed Relay 4x6km (W+M),Norway,NOR,Biathlon,BTH
4,Silver,2,2022-02-05 00:00:00.0,CHEVALIER-BOUCHET,CHEVALIER-BOUCHET Anais,X,../../../en/results/biathlon/athlete-profile-n...,Mixed Relay 4x6km (W+M),France,FRA,Biathlon,BTH

In [ ]:
medals.shape

(58, 12)

Il dataset contiene le seguenti colonne:

In [ ]:
medals.columns.tolist()

['medal_type',
 'medal_code',
 'medal_date',
 'athlete_short_name',
 'athlete_name',
 'athlete_sex',
 'athlete_link',
 'event',
 'country',
 'country_code',
 'discipline',
 'discipline_code']

Non ci sono valori <code>Nan</code>:

In [ ]:
medals.columns[medals.isna().any()].tolist()

[]

<h2>Medals Total</h2>

In [ ]:
medals_total

,Order,Country,Gold,Silver,Bronze,Total,Order by Total,Country Code
0,1,Norway,2,0,1,3,2,NOR
1,2,Sweden,2,0,0,2,5,SWE
2,3,ROC,1,2,2,5,1,ROC
3,4,Germany,1,1,0,2,5,GER
4,4,Netherlands,1,1,0,2,5,NED
5,6,Australia,1,0,1,2,5,AUS
6,6,Japan,1,0,1,2,5,JPN
7,6,Slovenia,1,0,1,2,5,SLO
8,9,People's Republic of China,1,0,0,1,13,CHN
9,9,New Zealand,1,0,0,1,13,NZL
10,11,Austria,0,2,1,3,2,AUT
11,11,Italy,0,2,1,3,2,ITA
12,13,United States of America,0,2,0,2,5,USA
13,14,Canada,0,1,1,2,5,CAN
14,15,France,0,1,0,1,13,FRA
15,16,Finland,0,0,1,1,13,FIN
16,16,Hungary,0,0,1,1,13,HUN
17,16,Poland,0,0,1,1,13,POL

Il dataset contiene le seguenti colonne:

In [ ]:
medals_total.columns.tolist()

['Order',
 'Country',
 'Gold',
 'Silver',
 'Bronze',
 'Total',
 'Order by Total',
 'Country Code']

Non ci sono valori <code>Nan</code>:

In [ ]:
medals_total.columns[medals_total.isna().any()].tolist()

[]

<h2>Curling Results</h2>

In [ ]:
curling_results.head()

,location,event_stage,teamH,scoreTH,teamA,scoreTA,event_status,time,event_url,discipline_code,teamH_code,teamA_code,sex
0,National Aquatics Centre - Sheet A,Mixed Doubles Round Robin Session 1,Sweden,5,Great Britain,9.0,Finished,2022-02-02T20:05:00+08:00,../../../en/results/curling/results-mixed-doub...,CUR,SWE,GBR,Mixed
1,National Aquatics Centre - Sheet B,Mixed Doubles Round Robin Session 1,Australia,5,United States of America,6.0,Finished,2022-02-02T20:05:00+08:00,../../../en/results/curling/results-mixed-doub...,CUR,AUS,USA,Mixed
2,National Aquatics Centre - Sheet C,Mixed Doubles Round Robin Session 1,Norway,6,Czech Republic,7.0,Finished,2022-02-02T20:05:00+08:00,../../../en/results/curling/results-mixed-doub...,CUR,NOR,CZE,Mixed
3,National Aquatics Centre - Sheet D,Mixed Doubles Round Robin Session 1,People's Republic of China,7,Switzerland,6.0,Finished,2022-02-02T20:05:00+08:00,../../../en/results/curling/results-mixed-doub...,CUR,CHN,SUI,Mixed
4,National Aquatics Centre - Sheet A,Mixed Doubles Round Robin Session 2,Australia,5,People's Republic of China,6.0,Finished,2022-02-03T09:05:00+08:00,../../../en/results/curling/results-mixed-doub...,CUR,AUS,CHN,Mixed

In [ ]:
curling_results.shape

(147, 13)

Il dataset contiene le seguenti colonne:

In [ ]:
curling_results.columns.tolist()

['location',
 'event_stage',
 'teamH',
 'scoreTH',
 'teamA',
 'scoreTA',
 'event_status',
 'time',
 'event_url',
 'discipline_code',
 'teamH_code',
 'teamA_code',
 'sex']

Le seguenti colonne contengono valori <code>Nan</code>:

In [ ]:
curling_results.columns[curling_results.isna().any()].tolist()

['teamH',
 'scoreTH',
 'teamA',
 'scoreTA',
 'event_status',
 'teamH_code',
 'teamA_code']

In [ ]:
curling_results.loc[curling_results["teamH"].isna()]

,location,event_stage,teamH,scoreTH,teamA,scoreTA,event_status,time,event_url,discipline_code,teamH_code,teamA_code,sex
45,National Aquatics Centre - Sheet A,Mixed Doubles Semi-final,NaN,NaN,NaN,NaN,NaN,2022-02-07T20:05:00+08:00,../../../en/results/curling/results-mixed-doub...,CUR,NaN,NaN,Mixed
47,National Aquatics Centre - Sheet B,Mixed Doubles Bronze Medal Game,NaN,NaN,NaN,NaN,NaN,2022-02-08T14:05:00+08:00,../../../en/results/curling/results-mixed-doub...,CUR,LSF,NaN,Mixed
48,National Aquatics Centre - Sheet B,Mixed Doubles Gold Medal Game,NaN,NaN,NaN,NaN,NaN,2022-02-08T20:05:00+08:00,../../../en/results/curling/results-mixed-doub...,CUR,WSF,NaN,Mixed
139,National Aquatics Centre - Sheet A,Men's Semi-final,NaN,NaN,NaN,NaN,NaN,2022-02-17T20:05:00+08:00,../../../en/results/curling/results-men-sfnl-0...,CUR,NaN,NaN,Men's
140,National Aquatics Centre - Sheet C,Men's Semi-final,NaN,NaN,NaN,NaN,NaN,2022-02-17T20:05:00+08:00,../../../en/results/curling/results-men-sfnl-0...,CUR,NaN,NaN,Men's
141,National Aquatics Centre - Sheet B,Men's Bronze Medal Game,NaN,NaN,NaN,NaN,NaN,2022-02-18T14:05:00+08:00,../../../en/results/curling/results-men-fnl-00...,CUR,LSF,NaN,Men's
142,National Aquatics Centre - Sheet A,Women's Semi-final,NaN,NaN,NaN,NaN,NaN,2022-02-18T20:05:00+08:00,../../../en/results/curling/results-women-sfnl...,CUR,NaN,NaN,Women's
143,National Aquatics Centre - Sheet C,Women's Semi-final,NaN,NaN,NaN,NaN,NaN,2022-02-18T20:05:00+08:00,../../../en/results/curling/results-women-sfnl...,CUR,NaN,NaN,Women's
144,National Aquatics Centre - Sheet B,Men's Gold Medal Game,NaN,NaN,NaN,NaN,NaN,2022-02-19T14:05:00+08:00,../../../en/results/curling/results-men-fnl-00...,CUR,WSF,NaN,Men's
145,National Aquatics Centre - Sheet B,Women's Bronze Medal Game,NaN,NaN,NaN,NaN,NaN,2022-02-19T20:05:00+08:00,../../../en/results/curling/results-women-fnl-...,CUR,LSF,NaN,Women's
146,National Aquatics Centre - Sheet B,Women's Gold Medal Game,NaN,NaN,NaN,NaN,NaN,2022-02-20T09:05:00+08:00,../../../en/results/curling/results-women-fnl-...,CUR,WSF,NaN,Women's

Questi corrispondono agli eventi non ancora disputati (es.time=2022-02-18T20:05:00+08:00) e per i quali quindi non sono disponibili i dati.

<h2>Hockey Results</h2>

In [ ]:
hockey_results.head()

,location,event_stage,#event,teamH,scoreTH,teamA,scoreTA,event_status,time,event_url,discipline_code,teamH_code,teamA_code,sex
0,Wukesong Sports Centre,Women's Preliminary Round - Group B,#1,Czech Republic,3,China,1.0,Finished,2022-02-03T12:10:00+08:00,../../../en/results/ice-hockey/results-women-g...,IHO,CZE,CHN,Women
1,National Indoor Stadium,Women's Preliminary Round - Group A,#2,Canada,12,Switzerland,1.0,Finished,2022-02-03T12:10:00+08:00,../../../en/results/ice-hockey/results-women-g...,IHO,CAN,SUI,Women
2,Wukesong Sports Centre,Women's Preliminary Round - Group B,#3,Sweden,1,Japan,3.0,Finished,2022-02-03T16:40:00+08:00,../../../en/results/ice-hockey/results-women-g...,IHO,SWE,JPN,Women
3,Wukesong Sports Centre,Women's Preliminary Round - Group A,#4,Finland,2,United States,5.0,Finished,2022-02-03T21:10:00+08:00,../../../en/results/ice-hockey/results-women-g...,IHO,FIN,USA,Women
4,Wukesong Sports Centre,Women's Preliminary Round - Group B,#5,Denmark,1,China,3.0,Finished,2022-02-04T12:10:00+08:00,../../../en/results/ice-hockey/results-women-g...,IHO,DEN,CHN,Women

In [ ]:
hockey_results.shape

(58, 14)

Il dataset contiene le seguenti colonne:

In [ ]:
hockey_results.columns.tolist()

['location',
 'event_stage',
 '#event',
 'teamH',
 'scoreTH',
 'teamA',
 'scoreTA',
 'event_status',
 'time',
 'event_url',
 'discipline_code',
 'teamH_code',
 'teamA_code',
 'sex']

Le seguenti colonne contengono valori <code>Nan</code>:

In [ ]:
hockey_results.columns[hockey_results.isna().any()].tolist()

['teamH',
 'scoreTH',
 'teamA',
 'scoreTA',
 'event_status',
 'teamH_code',
 'teamA_code']

Anche in questo caso le righe con valori Nan corrispondono ad eventi non ancora disputati e/o organizzati.